Repository kzagorulko/flower-system, pull requests merged in 2020-11, with the labels that each got.

#17 Feature/front auth (closes #15)
  backend/flower/application.py
  backend/flower/resources/users.py
  frontend/src/App.js
  frontend/src/api/actions.js
  frontend/src/api/authProvider.js
  frontend/src/api/dataProvider.js
  frontend/src/api/utils.js
  frontend/src/components/UserList/index.js
  frontend/src/components/UserShow/index.js
Labels: frontend

#20 #2 Tests backend setup
  backend/Makefile
  backend/tests/test_refrech_token.py
Labels: backend, documentation

#21 #16 Добавил поля в таблицу
  artifacts/erd.drawio
  artifacts/erd_v1.drawio
  artifacts/role_model.drawio
Labels: documentation

#22 [#10] Пользователи
  backend/Makefile
  backend/flower/__init__.py
  backend/flower/application.py
  backend/flower/core/README.md
  backend/flower/core/__init__.py
  backend/flower/core/models.py
  backend/flower/core/roles/__init__.py
  backend/flower/core/roles/models.py
  backend/flower/core/users/__init__.py
  backend/flower/core/users/models.py
  backend/flower/core/users/resources.py
  backend/flower/core/users/utils.py
  backend/flower/core/utils.py
  backend/flower/database.py
  backend/flower/models.py
  backend/flower/resources/README.md
  backend/flower/resources/users.py
  backend/flower/resources/utils.py
  backend/migrations/versions/6680bd9737cf_.py
  frontend/package-lock.json
  frontend/src/api/dataProvider.js
  frontend/src/components/UserList/index.js
  frontend/src/components/UserShow/index.js
Labels: backend, documentation, frontend

#24 [#11] Роли и полномочия
  backend/flower/__init__.py
  backend/flower/core/README.md
  backend/flower/core/__init__.py
  backend/flower/core/database.py
  backend/flower/core/models.py
  backend/flower/core/permissions/models.py
  backend/flower/core/permissions/resources.py
  backend/flower/core/roles/__init__.py
  backend/flower/core/roles/models.py
  backend/flower/core/roles/resources.py
  backend/flower/core/routes.py
  backend/flower/core/users/__init__.py
  backend/flower/core/users/models.py
  backend/flower/core/users/resources.py
  backend/flower/core/users/utils.py
  backend/flower/core/utils.py
  backend/migrations/versions/dde8d445bd8d_.py
Labels: backend, documentation

#28 [#27] Работа с ролями на фронте
  backend/flower/core/users/resources.py
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.js
  frontend/src/api/authProvider.js
  frontend/src/components/UserList/index.js
Labels: backend, frontend

#33 [#10] Добавлен администратор
  backend/.env
  backend/flower/config.py
  backend/migrations/versions/b3f9310cc0c6_.py
Labels: backend

#34 [#30] Создание поставщиков
  backend/flower/core/database.py
  backend/flower/core/models.py
  backend/flower/core/providers/models.py
  backend/flower/core/providers/resources.py
  backend/flower/core/providers/utils.py
  backend/flower/core/routes.py
  backend/flower/core/users/resources.py
  backend/flower/core/utils.py
  backend/migrations/versions/b1a0d6cd7fa7_.py
  backend/migrations/versions/b3f9310cc0c6_.py
  frontend/src/App.js
  frontend/src/components/ProviderList/index.js
  frontend/src/components/UserList/index.js
Labels: backend, frontend

#35 [#25] Создание филиалов
  backend/flower/core/README.md
  backend/flower/core/branches/models.py
  backend/flower/core/branches/resources.py
  backend/flower/core/branches/utils.py
  backend/flower/core/models.py
  backend/flower/core/routes.py
  backend/flower/core/users/models.py
  backend/flower/core/users/resources.py
  backend/flower/core/users/utils.py
  backend/migrations/versions/7292deb23125_.py
  backend/migrations/versions/b1a0d6cd7fa7_.py
Labels: backend, documentation

#36 [#26] Создание продуктов и продаж
  backend/.env
  backend/.gitignore
  backend/flower/config.py
  backend/flower/core/README.md
  backend/flower/core/branches/resources.py
  backend/flower/core/branches/utils.py
  backend/flower/core/models.py
  backend/flower/core/permissions/models.py
  backend/flower/core/products/models.py
  backend/flower/core/products/resources.py
  backend/flower/core/providers/resources.py
  backend/flower/core/providers/utils.py
  backend/flower/core/routes.py
  backend/flower/core/sales/models.py
  backend/flower/core/sales/resources.py
  backend/flower/core/unit_utils.py
  backend/flower/core/users/resources.py
  backend/flower/core/users/utils.py
  backend/flower/core/utils.py
  backend/migrations/versions/14af6017bb46_.py
  backend/requirements.txt
  frontend/src/App.js
  frontend/src/api/dataProvider.js
  frontend/src/api/utils.js
  frontend/src/components/ProductsList/index.js
Labels: backend, documentation, frontend

#37 [#29] Заявочная система
  backend/.env
  backend/flower/core/README.md
  backend/flower/core/branches/resources.py
  backend/flower/core/models.py
  backend/flower/core/permissions/models.py
  backend/flower/core/permissions/resources.py
  backend/flower/core/products/models.py
  backend/flower/core/products/resources.py
  backend/flower/core/providers/resources.py
  backend/flower/core/requests/models.py
  backend/flower/core/requests/resources.py
  backend/flower/core/requests/utils.py
  backend/flower/core/roles/resources.py
  backend/flower/core/routes.py
  backend/flower/core/sales/models.py
  backend/flower/core/sales/resources.py
  backend/flower/core/unit_utils.py
  backend/flower/core/users/resources.py
  backend/flower/core/utils.py
  backend/migrations/versions/7292deb23125_.py
  backend/migrations/versions/f7f61b0fadff_.py
  frontend/package.json
  frontend/src/.eslintrc.js
  frontend/src/App.js
  frontend/src/api/authProvider.js
  frontend/src/api/dataProvider.js
  frontend/src/api/utils.js
  frontend/src/components/ProviderList/index.js
  frontend/src/components/QuickFilter/index.js
  frontend/src/components/QuickFilter/style.less
  frontend/src/components/RequestCategories/index.js
  frontend/src/components/Requests/index.js
  frontend/src/components/Requests/style.less
  frontend/src/components/UserCard/index.js
  frontend/src/components/UserCard/style.less
Labels: backend, documentation, frontend

#44 [#43] Доработка Sales
  backend/flower/core/models.py
  backend/flower/core/sales/models.py
  backend/flower/core/sales/resources.py
Labels: backend

#46 [#39, #42] Продажи и не только
  backend/flower/core/branches/models.py
  backend/flower/core/branches/resources.py
  backend/flower/core/models.py
  backend/flower/core/products/resources.py
  backend/flower/core/requests/resources.py
  backend/flower/core/sales/models.py
  backend/flower/core/sales/resources.py
  backend/flower/core/users/models.py
  backend/flower/core/users/resources.py
  backend/flower/core/users/utils.py
  backend/flower/core/utils.py
  backend/migrations/versions/182718a0a9ae_.py
  frontend/src/.eslintrc.js
  frontend/src/App.js
  frontend/src/api/dataProvider.js
  frontend/src/components/DateMonthInput/index.js
  frontend/src/components/ProductsList/index.js
  frontend/src/components/ProviderList/index.js
  frontend/src/components/Requests/index.js
  frontend/src/components/SalesList/index.js
  frontend/src/components/UserList/index.js
  frontend/src/components/UserShow/index.js
Labels: backend, frontend
