Repository kzagorulko/flower-system, pull requests merged in 2020-10, with the labels that each got.

#1 Backend setup
  backend/.gitignore
  backend/Makefile
  backend/README.md
  backend/alembic.ini
  backend/flower/__init__.py
  backend/flower/application.py
  backend/flower/config.py
  backend/flower/models.py
  backend/flower/resources/README.md
  backend/flower/resources/__init__.py
  backend/flower/resources/users.py
  backend/flower/resources/utils.py
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
  backend/migrations/versions/4cc6a0c21606_.py
  backend/requirements.txt
  backend/start.py
Labels: documentation, enhancement

#3 Frontend setup
  frontend/.eslintignore
  frontend/.gitignore
  frontend/README.md
  frontend/config/env.js
  frontend/config/getHttpsConfig.js
  frontend/config/jest/cssTransform.js
  frontend/config/jest/fileTransform.js
  frontend/config/modules.js
  frontend/config/paths.js
  frontend/config/pnpTs.js
  frontend/config/webpack.config.js
  frontend/config/webpackDevServer.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/scripts/build.js
  frontend/scripts/start.js
  frontend/src/.eslintrc.js
  frontend/src/App.js
  frontend/src/App.less
  frontend/src/README.md
  frontend/src/components/Route/index.js
  frontend/src/index.js
  frontend/src/routes/HomePage/index.js
  frontend/src/routes/HomePage/style.less
Labels: documentation, enhancement

#8 React-Admin integration
  .gitignore
  backend/.env
  backend/.gitignore
  backend/flower/application.py
  backend/flower/resources/users.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.less
  frontend/src/api/actions.js
  frontend/src/api/dataProvider.js
  frontend/src/components/Route/index.js
  frontend/src/components/UserList/index.js
  frontend/src/components/UserShow/index.js
Labels: backend, frontend

#12 JWT авторизация (#9)
  .gitignore
  backend/.env
  backend/.flake8
  backend/README.md
  backend/flower/config.py
  backend/flower/models.py
  backend/flower/resources/users.py
  backend/flower/resources/utils.py
  backend/migrations/versions/498f307695d6_.py
  backend/migrations/versions/4cc6a0c21606_.py
  backend/requirements.txt
Labels: backend
